[run]
branch = True
parallel = True

source = xer_parser
omit =
    */tests/*
    */setup.py


[report]
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":
        pass
    raise NotImplementedError
skip_covered = True

[html]
directory = htmlcov
